:root {
  font-family: 'Poppins', serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222326;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #4e7bff;
  --color-primary-light: #4e7aff4e;
  --color-background: #222326;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-text-secondary: rgba(255, 255, 255, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: all 0.3s ease; */
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

button,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Poppins', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  color: var(--color-text);
  font-weight: 500;
  transition: all 0.2s ease;
}

.title-font {
  font-family: 'Orbitron', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
